.product{
    grid-area:  main;
    padding: 1rem;
  }
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center{
  justify-content: center;
}
.row.top{
  align-items: flex-start;
}
.row.start{
  justify-content: flex-start;
}
img{
  border-radius: 0.5rem;

}
img.medium{
  max-width: 29rem;
  width: 100%;
}
.card{
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body{
  padding: 1rem;
}
.card-body >*{
  margin-bottom: 0.5rem;
}
.price{
  font-size: 2rem;
}
.rating span{
  color: #f0c040;
  margin: 0.1rem;
}