header{
    grid-area: header;
    background-color: #203040;
    
  }
a{
  text-decoration: none;
}
a:hover{
  color: #ff8000;
}
a.brand{
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold ;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header a{
  color: #ffffff;
  padding: 1rem;
}