<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Favyt</title>
</head>
<body>
    <div class="grid-container">
        <header>
            <div>
                <a href="index.html">Favyt</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin">Sign In</a>
            </div>  
        </header>
        <main>
            <ul>
                <li>Product 1</li>
                <li>Product 2</li>
                <li>Product 3</li>
                <li>Product 4</li>
            </ul>
        </main>
        <footer>All right reserved</footer>
    </div>
    
</body>
</html>