.App {
  font-size: 65.5%;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial,sans-serif;
}

.grid-container{
  font-size: 65.5%;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial,sans-serif;
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
}
header{
  grid-area: header;
  background-color: #203040;
}
main{
  grid-area:  main;
  padding: 1rem;
}

footer{
  grid-area:  footer;
  background-color: #203040;
  color: #FFFFFF;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
