html{
  font-size: 62.5%;
  box-sizing: border-box;
  }
  body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: helvetica,Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
#root{
  height: 100%;
}

header{
    grid-area: header;
    background-color: #203040;
  }
  main{
    grid-area:  main;
    padding: 1rem;
  }
  footer{
    grid-area:  footer;
    background-color: #203040;
    color: #FFFFFF;
  }  